<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="login" value="Max Smirnov1" />
    <add key="pass" value="123456" />
    <add key="save" value="true" />
    <add key="ShowClosed" value="false" />
    <add key="FileName" value="Data.db3" />
    <add key="StartupQuery" value="Hide Closed" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>